<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/TopNavCommon::head('list')}"></head>
<body>
<nav th:replace="~{common/TopNavCommon::topNav('list')}"></nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">공개 프로젝트</h1>
            <p class="lead fw-normal text-white-50 mb-0">공개된 프로젝트에 자유롭게 참여하세요.</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div th:each="project : ${list}" class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/img/project-icon.png" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" th:text="${project.title}"></h5>
                            <!-- Product price-->
                            [[${project.startLine}]] ~ [[${project.deadLine}]]
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" th:href="@{/project/index/{idx}(idx=${project.idx})}">
                                View options</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/project/myList(pageNum=${pageNum-1})}"
                           th:classappend="${pageNum} == 1 ? 'disabled'"
                        >Previous</a>
                    </li>
                    <li th:each="i:${#numbers.sequence(1, countPage)}" class="page-item">
                        <a class="page-link" th:href="@{/project/myList(pageNum= ${i})}"
                           th:classappend="${#strings.replace(param.pageNum,' ','')} == ${i} ? 'active': '' "
                        >[[ ${i} ]]</a>
                    </li>
                    <li class="page-item">
                        <!--                        <a class="page-link" href="#" onclick="changePage(1)">Next</a>-->
                        <a class="page-link" th:href="@{/project/myList(pageNum=${pageNum+1})}"
                           th:classappend="${pageNum} == ${countPage} ? 'disabled'"
                        >Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/projectlist/js/scripts.js"></script>
</body>
</html>
